<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @phrase.text %>
</p>

<p>
  <strong>Category:</strong>
  <%= @phrase.category.name %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
